<h1>What is <strong>Sevn</strong>?</h1>
<p><strong>Sevn</strong> is a simple todo list application that only shows tasks for the next week. This focuses the user on the tasks that are immediately achievable.</p>
<h1>How many ways can I access <strong>Sevn</strong>?</h1>
<p><strong>Sevn</strong> will be deployed as a web application built with Ruby on Rails and an iOS application built with Sencha touch and deployed with PhoneGap.</p>
<h1>When can I start using <strong>Sevn</strong>?</h1>
<p><strong>Sevn</strong> on the web will be ready to begin beta testing in February of 2011.</p>